* {
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  margin: 0px;
}
h1 {
  text-align: center;
  height: 60px;
}

#mainInteractionArea {
  width: 100%;
}

#upMenuDiv {
  background-color: green;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

#mainDisplayDiv {
  width: 100%;
  clear: both;
}

#navBar {
  list-style-type: none;
  font-size: large;
  float: left;
}

#navBar > li {
  float: left;
  margin: 5px;
  padding: 10px;
}

#navBar > li:hover {
  background-color: whitesmoke;
}

#navBar a {
  text-align: right;
  text-decoration: none;
}

/* 
#navBar a:visited {
  text-align: right;
  text-decoration: none;
  color: black;
} */

#mainCanvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  height: 480px;
}
