* {
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  margin: 0px;
}
h1 {
  text-align: center;
  height: 60px;
}

#mainInteractionArea {
  width: 100%;
}

#upMenuDiv {
  background-color: green;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

#mainDisplayDiv {
  width: 100%;
  clear: both;
}

#navBar {
  list-style-type: none;
  font-size: large;
  float: left;
}

#navBar > li {
  float: left;
  margin: 5px;
  padding: 10px;
}

#navBar > li:hover {
  background-color: whitesmoke;
}

#navBar a {
  text-align: right;
  text-decoration: none;
}

/* 
#navBar a:visited {
  text-align: right;
  text-decoration: none;
  color: black;
} */

#mainCanvas {
  /* width: 100%; */
  width: 1280px;
  height: 720px;
}
