* {
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  margin: 0px;
}
h1 {
  text-align: center;
  height: 60px;
}

#mainInteractionArea {
  width: 100%;
}

#upMenuDiv {
  background-color: rgb(16, 156, 16);
  float: left;
  width: 30%;
}

#mainDisplayDiv {
  float: left;
  width: 70%;
  border-style: solid;
  border-color: darkgray;
  height: 500px;
}

#navBar {
  list-style-type: none;
  font-size: large;
  padding: 0px;
  margin: 10px;
}

#navBar li:hover {
  background-color: whitesmoke;
}

#navBar li:active {
  background-color: chartreuse;
}

#navBar li.unselected {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#navBar li.selected {
  border-style: solid;
  border-color: cornsilk;
  border-width: 3px;
  padding: 7px;
}

/* 
#navBar a:visited {
  text-align: right;
  text-decoration: none;
  color: black;
} */

#mainCanvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
  height: 500px;
  border-style: solid;
}
